@charset "utf-8";
/*  CSS Document  */
@import url("reset.css"); /*  스타일 리셋  */
@import url("common.css"); /*  browser 공통스타일  */

/* header */

/*
@media screen and (min-width: 1000px) {
	.headerWrap {
		background:#333;
		height:50px;
		width:100%;
		position:fixed;
		top:0;
		left:0;
		min-width:600px;
		background:url(images/header_bg.png);
		border-bottom:2px solid #076eb0;
	}
	
	div.empty{ margin-top:52px;}
	
	.breadcrumbs {position:fixed; top: 10px; right:0px; float: right; padding-right:20px; height:30px;  text-align:right; color:#9E9FA4;  z-index: 999; line-height: 30px;  font-size: 14px; }
}

@media screen and (max-width: 1000px) {
	.headerWrap {
		background:#333;
		height:100px;
		width:100%;
		position:fixed;
		top:0;
		left:0;
		min-width:600px;
		background:url(images/header_bg.png);
		border-bottom:2px solid #076eb0;
	}
	
	div.empty{ margin-top:104px;}
	
	.breadcrumbs {position:fixed; top: 60px; left:0px; float: right; padding-left:20px; height:30px;  text-align:right; color:#9E9FA4;  z-index: 999; line-height: 30px;  font-size: 14px; }
}
*/
.headerWrap {
	background: #333;
	height: 50px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	min-width: 600px;
	background: url(images/header_bg.png);
	border-bottom: 2px solid #076eb0;
}

div.empty {
	margin-top: 52px;
}

.breadcrumbs {
	position: fixed;
	top: 10px;
	right: 0px;
	float: right;
	padding-right: 20px;
	height: 30px;
	text-align: right;
	color: #9E9FA4;
	z-index: 999;
	line-height: 30px;
	font-size: 14px;
}

/* TocDIV */
div#tocDiv {
	overflow-y: hidden;
	overflow-x: hidden;
	left: 0;
	position: fixed;
	top: 0px;
	height: 100%;
	width: 270px;
	background: #fff;
	border-right: 1px solid #eee;
}

div .basic h1 {
	display: none;
}

div .basic .subtitle {
	display: none;
}

div .basic .legalnotice {
	display: none;
}

div .advanced h1 {
	display: none;
}

div .advanced .subtitle {
	display: none;
}

div .advanced .legalnotice {
	display: none;
}

div#tocDiv a {
	
}

div#tocDiv a:hover {
	text-decoration: underline;
}

div.level0 {
	font-size: 14px;
	padding-left: 15px;
	font-weight: bold;
	line-height: 20px;
	padding-bottom: 12px;
	position: relative;
}

div.level0 div {
	width: 9px;
	height: 9px;
	left: 0px;
	top: 8px;
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
}

div.level0 .closePic {
	background-image: url(images/toc_folder_open.png);
}

div.level0 .openPic {
	background-image: url(images/toc_folder_close.png);
}

div.level0 .topicPic {
	background-image: url(images/toc_topic.png);
}

div.level1, div.level2, div.level3 {
	position: relative;
}

div.level1 div, div.level2 div, div.level3 div {
	width: 9px;
	height: 9px;
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
}

div.level1 .closePic, div.level2 .closePic, div.level3 .closePic {
	background-image: url(images/toc_folder_open.png);
}

div.level1 .openPic, div.level2 .openPic, div.level3 .openPic {
	background-image: url(images/toc_folder_close.png);
}

div.level1 .topicPic, div.level2 .topicPic, div.level3 .topicPic {
	background-image: url(images/toc_bull.png);
}

div.level1 {
	font-size: 12px;
	padding-left: 25px;
	padding-bottom: 10px;
	position: relative;
}

div.level1 div {
	left: 12px;
	top: 3px;
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
}

div.level2 {
	font-size: 80%;
	padding-left: 35px;
	padding-bottom: 10px;
}

div.level2 div {
	left: 22px;
	top: 3px;
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
}

div.level3 {
	font-size: 80%;
	padding-left: 35px;
	padding-bottom: 10px;
}

div.level3 div {
	left: 32px;
	top: 3px;
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
}

.tocContent {
	padding: 30px 10px 20px 20px;
	display: block;
}

.tocContent a {
	color: #555;
}

.tocContent a.on {
	color: #076eb0;
}

/* breadcrumbs */
.breadcrumbs .breadcrumb-link {
	
}

.breadcrumbs .breadcrumb-link a {
	color: #888;
	padding-right: 15px;
	margin-right: 5px;
	background: url(images/breadcrumbs_right.png) right no-repeat;
}

.breadcrumbs .breadcrumb-node {
	color: #076eb0;
	font-weight: bold;
}

table {
	width: 100%;
}

/* search keyword highlight */
div.toc p {
	margin: 10px 0 20px;
}

div.toc p b {
	margin: 10px 0 20px;
	font-size: 36px;
	font-weight: normal;
	color: #076eb0;
}

#tocContent {
	//height: calc(100% - 55px);
	height: 100%;
	padding-top: 55px;
	padding-left: 5px;
	overflow-x: hidden;
	overflow-y: hidden;
}

div#tocDiv {
	border-right: 2px solid #076eb0;	
}

ul.dynatree-container {
	border: none;
	height: 99%;
}

ul.searchOptionsField li, ul.searchOptionsCategory li {
	list-style: none !important;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

ul.searchOptionsField label, ul.searchOptionsCategory label {
	display: inline-block;
	width: 300px;
}

li label {
	color: #076eb0;
}

div>label {
	font-size: 25px;
}

.advancedSearchTitle {
	font-size: 30px;
}

.advancedSearch ul li input, .advancedSearch ul li select {
	width: 400px;
}

.optionDiv {
	width: 725px;
	border-bottom: 1px solid #ddd;
	margin-top: 10px;
}

.buttonDiv {
	width: 725px;
	text-align: right;
}

#advabcedSearchButton {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #076eb0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #0b0e07;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	padding: 9px 23px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #263666;
}

#advabcedSearchButton:hover {
	background-color: #068ADF;
}

#advabcedSearchButton:active {
	position: relative;
	top: 1px;
}

#slideAdvSearchButton {
	display: block;
	width: 24px;
	height: 24px;
	overflow: hidden;
	float: right;
	background: url(images/gear.png);
	background-size: 24px;
	border: none;
	opacity: 0.6;
	margin-top: 12px;
	margin-left: -5px;
	outline: none;
	margin-right: 20px;
	font-size: 0px;
}

#slideAdvSearchButton:hover {
	opacity: 1.0;
}

#slideAdvSearchButton:active {
	position: relative;
	top: 1px;
}

#graph_area {
	position: fixed;
	top: 50%;
	left: 50%;
}

div.advancedSearch ul {
	margin: 15px 0px 15px;
}

div.advancedSearch {
	display: none;
	width: 730px;
	position: fixed;
	top: 52px;
	right: 0px;
	padding: 30px 15px 15px 30px;
	background-color: white;
	border: 2px solid #076eb0;
	border-top: none;
	border-right: none;
}

.result_list>div {
	padding-left: 10px;
}

.result_list>div:hover {
	background-color: rgb(247, 247, 247);
}

div.contents {
	position: fixed;
	//overflow-y: auto;
	left: 280px;
	top: 52px;
	padding: 2px;
	right: 0px;
	bottom: 0px;
}

.filename .resultBreadCrumbs p {
	text-indent: 10px;
	margin-top: 5px;
	font-size: 15px;
}

#search {
	margin-top: 10px;
	float: right;
	margin-right: 12px;
}

#searchLink {
	border: none;
	font-family: inherit;
	font-size: 14px;
	margin: 0;
	outline: none;
	padding: 0;
	-webkit-appearance: none;
}

#searchinputbox {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

/* ---------- SEARCH ---------- */
#search input {
	float: left;
}

#searchinputbox, #searchLink {
	border-radius: 3px;
}

#searchinputbox {
	background: #fff;
	color: #42454e;
	min-width: 184px;
	padding: 3px 5px;
	font-size: 16px;
	border: none;
	margin-top: 2px;
}

#searchLink {
	background: #076eb0;
	color: #fff;
	font-weight: bold;
	margin-left: 7px;
	padding: 6px 10px;
}

#searchLink:hover {
	background: #068ADF;
}

#searchLink:active {
	position: relative;
	top: 1px;
}

.otherInfo{
	text-align: right;
	margin-right: 30px;
}

.otherInfo label{
	font-size: 15px;
}

.rank{
	color: lightgreen;
}

.view{
	color: orange;

}

html, body{
	width: 100%;
	height: 100%;
}

.queryRegex{
	color: black !important;
	font-style: italic;
}